* {
  margin: 0;
  box-sizing: border-box;
  font-family: "book-bold";
  font-size: 20px;
}

@font-face {
  font-family: "book-bold";
  src: url(./fonts/Book\ Bold.woff);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100dvh;
  color: white;
  background: #141414;
}

.title {
  font-size: 42px;
  letter-spacing: 2.5px;
  cursor: default;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 38rem;
  padding: 16px;
  margin: 12px;
  gap: 1rem;
  border-radius: 22px;
  background: #ffffff0f;
  box-shadow: 6px 12px 20px -4px #00000070;
}

.top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 12px;
  border-radius: 12px;
  background-color: #ffffff09;
  box-shadow: 0 0 20px -4px #00000070;
}

.icon {
  width: 40px;
  height: 40px;
  stroke: #bbbbbb;
  cursor: pointer;
  transition: all 0, 2s ease-in-out;
}
.icon:hover {
  stroke: #e4e4e4;
}

.bottom-section {
  width: 100%;
}

.task-box {
  background: rgba(0, 0, 0, 0.174);
  display: flex;
  padding: 12px;
  margin: 6px;
  border-radius: 8px;
  justify-content: space-between;
  align-items: center;
}
.task {
  color: #fff;
  cursor: default;
  width: 80%;
}
.remove-icon {
  width: 30px;
  height: 30px;
  stroke: #bbbbbb;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.remove-icon:hover {
  stroke: tomato;
}

.addTaskWrapper {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(10px);
}

.AddTaskBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 8px;
  width: 18rem;
  padding: 20px;
  margin: 12px;
  border-radius: 22px;
  background: #ffffff0f;
  box-shadow: 6px 12px 20px -4px #00000070;
}
.showAddTaskBox {
  display: flex;
}
.AddTaskBox > label {
  font-size: 36px;
}
.AddTaskBox > input {
  padding: 10px;
  outline: none;
  border: none;
  outline: none;
  border-radius: 6px;
  width: 100%;
}
.btns {
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 100%;
}
.btns > button {
  flex-grow: 1;
  padding: 8px 22px;
  border: none;
  outline: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#close {
  color: tomato;
}
#done {
  color: seagreen;
}
#close:hover {
  background-color: tomato;
  color: white;
}
#done:hover {
  background-color: seagreen;
  color: white;
}
