@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light: #f8f8f8;
  --color-grey: #f2f2f2;
  --color-dark: #252525;
  --color-darker: #141414;
  --shadow-dark: 0 0 22px -2px #00000040;
  --shadow-light: 0 0 16px -8px #25252560;
}

* {
  transition: all 0.4s ease-in-out;
}

.show-section {
  bottom: 12% !important;
}
