@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-light: #f8f8f8;
  --color-grey: #f2f2f2;
  --color-dark: #252525;
  --color-darker: #141414;
}

* {
  transition: all 0.3s ease-in-out;
}

.show-section {
  bottom: 95px !important;
}
